<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_LOGIN_URL</key>
	<string>$(API_LOGIN_URL)</string>
	<key>API_REFRESH_URL</key>
	<string>$(API_REFRESH_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>VONAGE_API_TOKEN</key>
	<string>$(VONAGE_API_TOKEN)</string>
</dict>
</plist>
